header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #ffffff;
  border-bottom: 1px solid var(--primary);

  .header-logo {
    padding: 0 1rem;
    border-radius: 0.9rem;
    background-color: var(--primary);
    color: #ffffff;

    a {
      display: flex;
      align-items: center;
      gap: 0.2rem;

      svg {
        color: var(--primary);
      }

      span {
        font-size: 1.2rem;
        font-weight: bold;
        padding-top: 0.2rem;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .menu-toggle {
      display: none;
    }

    nav {
      position: static;
      height: auto;

      ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 2rem;

        a {
          border-bottom: none;
        }
      }
    }
  }
}