nav {
  position: fixed;
  top: 51px;
  right: -100%;
  width: 100%;
  height: 50vh;
  background-color: #ffffff;
  border-radius: 0 0 0 0.5rem;
  transition: right 0.3s ease-in-out;
  z-index: 1001;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding: 4rem 1rem;
    gap: 1rem;

    a {
      width: 100%;
      padding: 0.75rem 0;
      font-size: 1.1rem;
      border-bottom: 1px solid var(--primary-dark);

      &:hover {
        color: var(--primary);
      }
    }

  }

  &.is-open {
    right: -50%;
  }
}


@media (min-width: 768px) {
  nav {
    position: static;
    height: auto;

    ul {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      gap: 2rem;

      a {
        border-bottom: none;
      }
    }
  }
}