.calculate-bonus-section {
  padding: 2rem 0;
  background-color: #FAF8F5;

  .calculate-bonus-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .calculate-bonus-main-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .calculate-bonus-title {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
          width: 250px;
          margin-top: 1rem;
        }
      }

      .form-bonus {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        padding: 1rem;

        .form-group {
          display: flex;
          flex-direction: column;

          input {
            font-family: inherit;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid #ccc;

            &:focus {
              border: 2px solid var(--primary);
              outline: var(--primary);
            }
          }

          label {
            color: var(--text-primary-light);
            font-weight: bold;
            margin-bottom: 0.2rem;
          }

          small {
            font-size: 0.85rem;
            color: var(--text-muted)
          }
        }
      }
    }

    .bonus-result {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      background-color: var(--secondary);
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

      .calculation-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .detail-text {
          font-weight: bold;
          font-size: 0.9rem;
        }

        .value {
          font-size: 0.9rem;
        }

        .additional-info {
          p {
            font-size: 0.9rem;
          }
        }

        .math-calculation {
          .math-calculation-text {
            p {
              font-size: 0.9rem;
            }
          }
        }
      }


    }
  }
}

@media (min-width: 768px) {

  .calculate-bonus-section {
    .calculate-bonus-container>.calculate-bonus-main-content {
      flex-direction: row;

      .calculate-bonus-title {
        flex: 1;
      }

      .bonus-calculator {
        margin-top: 3rem;
      }
    }
  }
}