.welcome-section {
  padding: 2rem 0;
  background-color: #FAF8F5;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .welcome-section-title {
      display: flex;
      flex-direction: column;


      h1 {
        margin-bottom: 1rem;
      }

      img {
        width: 250px;
        margin-top: 1.5rem;
      }
    }

    .welcome-section-tools {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 2rem;

      .tools-items {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--primary);

        a {
          display: inline-block;
          margin-top: 0.5rem;
          margin-left: 1rem;
          text-align: center;
          align-self: center;
          width: 200px;
          padding: 0.4rem;
          font-family: inherit;
          font-weight: bold;
          font-size: 0.9rem;
          color: #ffffff;
          background-color: var(--primary);
          border-radius: 0.5rem;
          border: none;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .welcome-section {
    >div {
      flex-direction: row;

      .welcome-section-title {
        padding-left: 3rem;

        img {
          width: 320px;
        }
      }
    }
  }
}