.welcome-section {
  background-color: #FAF8F5;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }

    img {
      width: 250px;
      align-self: center;
      margin-top: 1.5rem;
    }
  }
}