.net-salary-calculator-section {
  padding-top: 2rem;
  background-color: #FAF8F5;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .net-salary-calculator-main-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .net-salary-calculator-title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        img {
          width: 250px;
          margin: 1.5rem 0;
        }
      }

      .net-salary-calculator-container {
        display: flex;
        flex-direction: column;

        .salary-form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          background-color: white;
          border-radius: 0.5rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
          padding: 1rem;
          margin-bottom: 1rem;

          .form-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            input {
              font-family: inherit;
              padding: 0.5rem;
              border-radius: 0.5rem;
              border: 1px solid #ccc;

              &:focus {
                border: 2px solid var(--primary);
                outline: var(--primary);
              }
            }

            label {
              color: var(--text-primary-light);
              font-weight: bold;
              margin-bottom: 0.2rem;
            }

            small {
              font-size: 0.85rem;
              color: var(--text-muted)
            }
          }
        }
      }
    }

    .result-success {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      background-color: var(--secondary);
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

      .flow-item-title,
      .total-deductions-title,
      .deduction-name,
      .percentage {
        color: var(--primary);
        font-weight: bold;
        font-size: 0.9rem;
      }

      .amount {
        font-size: 0.9rem;
      }

      .deductions-breakdown>.deductions-table>.positive-note>small {
        color: #555;
      }
    }
  }
}

.deductions-description-section {
  h2 {
    margin-bottom: 1rem;
  }

  >div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.deductions-description-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding-bottom: 1rem;
}



@media (min-width: 768px) {

  .net-salary-calculator-section>div {
    .net-salary-calculator-main-content {
      flex-direction: row;

      .net-salary-calculator-title {
        flex: 1;

        img {
          width: 350px;
        }
      }

      .salary-form {
        margin-top: 3rem;
      }
    }
  }

  .deductions-description-section {
    padding: 1rem 0;
  }
}