* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-primary-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  text-wrap: balance;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  color: var(--text-primary-light);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  color: var(--primary);
}

.width-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.btn-primary {
  align-self: center;
  width: 50%;
  padding: 0.4rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-secondary {
  align-self: center;
  width: 40%;
  padding: 0.3rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: grey;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}